<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<a th:href="@{/}">Home</a>| <a th:href="@{/list}">Product list</a> | <a th:href="@{/card}">Card</a>
<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Image</td>
        <td>Price</td>
        <td>Add to card</td>
    </tr>
    <th:block th:each="p : ${products}">
        <tr>
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td><img th:src="@{/__${p.image}__}" height="100" width="50"/></td>
            <td th:text="${p.price}"></td>
            <td><a th:href="@{addtocard/__${p.id}__}">add</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>